<h1> All Prompts </h1>

<div class ="all_prompt_links">

<% @prompts.each do |prompt| %>
  <div class ="prompt_links">

    <img src ="<%= prompt.img_url %>" class="thumbnail"><br>
    <%= link_to prompt.title, prompt_path(prompt)%>

  </div>

  <br><br>

<% end %>

</div>
