<h1> Welcome to Prompt.ly </h1>

  <h2 style="margin-top: -1%">Prompt.ly is an app that gets you writing.</p2>
  <h2 style="margin-top: -1%">It works like this:</h2>

<ol style="margin-top: -2%; margin-right: 9%">
    <h3><ul>1. Create a Prompt.ly account.</ul></h3>
    <h3><ul>2. Create writing prompts to share with other users. Please include a photo url with your written prompt.</ul></h3>
    <h3><ul>3. Write story entries for as many prompts as you'd like.</ul></h3>
    <h3><ul>4. Upvote or downvote other prompts and story entries. (Remember, you must be signed in to write or edit prompts and posts, and also to upvote or downvote other users' prompts and posts).</ul></h3>
    <h3><ul>5. Get started <%= link_to "HERE", root_path %>. If you're not interested in the first randomized prompt you're presented, click 'Next' to toggle through other prompts, or click 'All Prompts' at the top of the page.</ul></h3>
    <h3><ul>6. Go back to step 2 and do it all over again.</ul></h3>
  </ol>
