<h1>Welcome to prompt.ly</h1>
<h4> Get Inspired </h4>

  <img src="https://static.pexels.com/photos/176103/pexels-photo-176103.jpeg" class="welcome_img"/>


<h2> Your prompt is: <%=link_to @prompt.title, prompt_path(@prompt) %> </h2>
