/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import url('https://fonts.googleapis.com/css?family=Inconsolata');


html {

  position: relative;
  min-height: 100%;
  width: 100%;
  margin: 0 auto


}

body {

  text-align: center;
  font-family: 'Inconsolata', monospace;
  width: 100%;
  margin: 0px;
  display: flex;
  background-image: url("http://i.imgur.com/uKsJbeF.png");
  background-size: cover;
}

.page_wrap {

  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 60px;
  margin-top: 60px;
}

h1 {

  margin-top: .3%

}

a:hover {

  color: #f48342

}

a:link {

  color: black;

}


a:visited {

  color: black;

}


a:active {

  color: red

}

a.welcome_text {

  color: blue

}

h1:hover {

  color: #ff115c

}

p:hover {

  color: #ff115c

}

h3:hover {

  color: #ff115c

}

header h3 {

  float: left;
  /*padding: 10px;*/
  display: inline-block;
  /*border: solid 1px black;*/
  /*border-radius: 10px;*/
  padding: 5px;
  width: 100px;
  margin: 10px;
  /*background: #edeeef;*/

}

header h3:hover {

  background: #ff115c

}

header p:hover {

  background: #ff115c

}

header {

  /*position: fixed;*/
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-flow: row wrap;
  /*background-image: url("http://i.imgur.com/sXFe4sH.jpg");
  background-size: cover;*/
  /*background-color: #edddbb;*/
  /*background-color: #e8ab27;*/
  /*border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;*/
  min-height: 9%;
  z-index: 3;
  margin-top: -60px;
  background-color: #ff115c;
  margin-bottom: 2%

}

.post_index {

  border: solid 1px black;
  border-style: dotted;
  border-radius: 10px;
  padding: 1%

}

form label {

  font-size: 18px;

}

footer {

  /*position: fixed;*/
  bottom: 0;
  margin-top: -25px;
  margin-bottom: -65px;
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-flow: row wrap;
  /*background-color: #edddbb*/
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: black;

}

.notice, .alert {

  font-size: 20px;
  color: black;

}

.like_block {

    vertical-align: center;

}


.prompt_show:hover {

  background: #ff115c

}

.prompt_links:hover {

  background: #ff115c

}

.all_post_links {

  width: 80%;

}

.upvote, .downvote {

  height: 10%;
  bottom: 0;

}

label {

  font-size: 14px;

}


.post_title_body {

  padding: 0.5px;
  border-radius: 15px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%

}

.homepage {

  display: inline;

}


.post_title_body2 {

  padding: 0.5px;
  border-radius: 15px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%

}

.all_comment {

  width: 40%;
  margin: 0 auto;
  border-style: dotted;
  border-radius: 10px;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  background: white;
  opacity: .9


}


.comment_time {

  margin-top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: -4%;
  font-size: 12px;

}

.comment_time:hover {

  background-color: white;

}


.post_text{

  background-color: white;
  opacity: .9;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

}

.foot_text {

    background-color: white;
    opacity: .9;
    border-radius: 15px;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%

}

.main_image1 {

  height: 300px;
  width: 300px;
  border-radius: 300px;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;

}

.main_image {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;

}

.prompt {

  width: 80%;
  margin: 0 auto;
  border: solid 1px black;
  border-style: dotted;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  }

  /*.prompt:hover {

    background-color: #96f72e;

  }*/


.welcome_img {

  height: 300px;
  width: 300px;
  border-radius:300px;
  background-image: url("https://static.pexels.com/photos/163059/letters-leave-pen-parking-ticket-163059.jpeg");
  background-size: cover;
  background-position: center;

}

textarea {

  font-size: 16px;

}

textarea#post_body{

  height: 150px;
  width: 500px;
  /*border-radius: 10px;*/
  outline-width: 0;
  text-align: center


}

textarea#comment_comment{

  height: 50px;
  width: 350px;
  /*border-radius: 10px;*/
  outline-width: 0;
  text-align: center

}

textarea#prompt_prompt{

  height: 150px;
  width: 350px;
  /*border-radius: 10px;*/
  outline-width: 0;
  text-align: center

}

.like {

  height: 5px;

}

.like2 {

  float: right;

}

.like_button {

  height: 30px;
  margin-top: -30px;

}

.unlike_button {

  height: 20%;
  margin-top: -35px;

}

.unlike_number {

  margin-top: -23px

}

.title_vote {

  display: inline;

}

input {

  /*border-radius: 10px;*/
  outline-width: 0;
  font-family: 'Inconsolata', monospace;
  text-align: center;
  border: solid 1px black;
  font-size: 18px;

}

input#post_title {

  width: 500px;
  font-size: 26px

}

input#prompt_title {

  width: 350px;
  font-size: 24px;

}

input#prompt_img_url {

  width: 350px;

}

.post_body {

  display: inline-block;
  vertical-align: middle;

}

.thumbnail {

  height: 80px;
  width: 80px;
  border-radius: 80px;

}

.prompt_links {

  display: inline;
  float: left;
  margin: 10px;
  border: solid 1px black;
  border-style: dotted;
  border-radius: 10px;
  padding: 5px;
  width: 100px;
  /*background-color: #edddbb;*/
  vertical-align: text-top;
  background-size: cover;


}

.all_prompt_links {

  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;

}

.published_at {

  font-size: 12px;

}

.prompt_buttons {

  /*width: 600px;*/
  display: block;
  text-align: center;
  /*margin-left: auto;
  margin-right: auto;*/
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-flow: row wrap;

}

.title_likes {

  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-flow: row wrap;
  vertical-align: middle;

}


.prompt_show {

  display: block;
  float: left;
  margin: 10px;
  border: solid 1px black;
  border-style: dotted;
  border-radius: 10px;
  padding: 5px;
  width: 100px;
  /*background-color: #edddbb;*/
  background-size: cover;

}

input#user_email, input#user_password, input#user_password_confirmation {

  width: 300px;

}


.prompt_show a:hover {

  background-color: #ff115c;

}
