/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import url('https://fonts.googleapis.com/css?family=Inconsolata');


body {

  text-align: center;
  font-family: 'Inconsolata', monospace

}


.post_title_body {

  padding: 0.5px;
  border-radius: 15px;
  width: 40%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%

}


.all_comment {

  width: 40%;
  margin: 0 auto;
  border-style: solid;
  border-radius: 10px;
  border-radius: 10px;
  border-color: black;
  border-width: thin;


}


.comment_time {

  margin-top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}


.post_text {

  background-color: white;
  opacity: .9;
  border-radius: 15px;
  padding: -10px;

}

.prompt_img {

  height: 300px;
  width: 300px;
  border-radius: 300px;

}

.prompt_img2 {
  height: 150px;
  width: 150px;
  border-radius: 150px;
}

.prompt {

  width: 50%;
  margin: 0 auto;


}

.welcome_img {

  height: 300px;
  width: 300px;
  border-radius:300px;

}

textarea#post_body{

  height: 100px;
  width: 400px;
  border-radius: 10px;
  outline-width: 0;
  text-align: center


}

textarea#comment_comment{

  height: 50px;
  width: 350px;
  border-radius: 10px;
  outline-width: 0;
  text-align: center

}

input {

  border-radius: 10px;
  outline-width: 0;
  font-family: 'Inconsolata', monospace;
  text-align: center

}

input#post_title {

  width: 400px;

}

.post_body {

  display: inline-block;
  vertical-align: middle;

}

.thumbnail {

  height: 40px;
  width: 40px;
  border-radius: 40px;

}

.prompt_links {

  display: inline-block;
  text-align: center;

}

.all_prompt_links {

  display: inline-block;
  align-items: center;

}

.published_at {

  font-size: 12px;

}
